@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,200&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito" , sans-serif;
}

.navbar{
  text-decoration: none;
  height:80px;
  background-color:#712cf9;;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:0 4rem;
}
.navbar h2{
  font-size: 40px;
}
.navbar a{
  text-decoration: none;
  color: white;
}
.bag-img{
  width:2vw;
  display:inline-flex;
  align-items: center;
}
.bag-quantity{
  display:inline-flex;
  align-items: center;
  justify-content: center;
  height:25px;
  width:25px;
  border:50%;
  font-size:19px;
  font-weight:700;
  color:white;

}
.page-not-found{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
  color:grey;
  min-height:80vh;
}
.page-not-found h1{
   font-size: 50px;
}
.page-not-found p{
  font-size: 20px;
}
.product-img{
  width:150px;
  height:8px;
}
 .home-container{
  padding:2rem 4rem;

}

.home-container h2{
  font-size:40px;
  font-weight: 400;
  text-align: center;
}

 .products{
   display:flex;
   justify-content: space-between;
   flex-wrap: wrap;
   
} 

.product{
  width:250px;
  max-width:100%;
  height:340px;
  display:inline-block;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem auto;
  padding:1rem;
  border-radius: 15px;
  box-shadow: -5px -5px 18px rgba(255,255,255,0.5),2px 2px 5px rgba(94,104,121,0.3);

}
.product img{
  width:80%;
  height:80%;
  margin-top:1rem;
  margin-left: auto;
  margin-right: auto;
}
.product h3{
  font-size: 25px;
  font-weight:400;

}
.product .desc{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.product .desc .price{
  font-size: 28px;
  font-weight: 700;
}
.product button{
  width:100%;
  height:40px;
  margin-top: 2rem;
  font-weight: 400;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #4b70e2;
  border-radius:5px;
  color:white;
 

}

.cart-container{
  padding:2rem 4rem;
}
.cart-container h2{
  font-weight: 400;
  font-size: 30px;
  text-align: center;
}

.cart-container .titles{
  margin: 2rem 0 1rem 0;
}
.cart-container .titles h3{
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.cart-item ,.cart-container .titles{
  display: grid;
  align-items: center;
  column-gap: 0.4rem;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  
}
.cart-item{
  border-top: 1px solid rgb(187,187,187);
  padding:1rem 0;
}
.cart-container .titles .product-title{
  padding-left: 0.5rem;

}
.cart-container .titles .total{
  padding-right: 0.5rem;
  justify-self: right;
}
.cart-item .cart-product{
  display:flex;
}
.cart-item .cart-product img{
  width:100px;
  max-width: 100%;
  margin-right:1rem;
}
.cart-item .cart-product h3{
  font-weight: 400;
}
.cart-item .cart-product button{
 border:none;
 outline:none;
 margin-top: 0.6rem;
 background-color: none;
 color:grey;
 cursor:pointer;
}

.cart-product-total-price{
  justify-self: right;
  font-weight: 700;
}
.cart-summary{
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top:1rem;
}
.cart-summary .clear-cart{
  width:130px;
  height:40px;
  border-radius:5px;
  font-weight:400;
  border:0;
  color:white;
  background-color: violet;
  font-weight: 800;
  cursor:pointer;

}
.continue-shopping{
  margin-top:1rem;
}
.continue-shopping a{
  color:grey;
  text-decoration: none;
  display:flex;
  align-items: center;

}
.continue-shopping a span{
  margin-left: 0.5rem;
}